{% extends 'base.html.twig' %}

{% block title %}Éditer un dossier de remboursement{% endblock %}

{% block body %}
    <h1>Éditer un dossier de remboursement</h1>

    <section>
        {{ include('training_reimbursement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </section>
    <section>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_training_reimbursement_index') }}">retour à la liste</a>

            {{ include('training_reimbursement/_delete_form.html.twig') }}
        {% endif %}
    </section>

{% endblock %}
