{% extends 'base.html.twig' %}

{% block title %}TrainingReimbursement index{% endblock %}

{% block body %}
    <a href="{{ path('app_home') }}">
        Retour à l'accueil
    </a>
    <h1>TrainingReimbursement index</h1>
    <section class="">
        {% for training_reimbursement in training_reimbursements %}
            {{ include('training_reimbursement/_show.html.twig') }}
        {% else %}
            <div>
                Aucun dossier de remboursement n'a été créé.
            </div>
        {% endfor %}

    </section>


    <section>
        <a href="{{ path('app_training_reimbursement_new') }}" class="button primary">Créer un nouveau dossier de remboursement</a>
    </section>
{% endblock %}
