{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande de remboursement{% endblock %}

{% block body %}
    <h1>Nouvelle demande de remboursement</h1>

    {{ include('training_reimbursement/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_training_reimbursement_index') }}">voir la liste des demandes</a>
    {% endif %}
{% endblock %}
