{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande de remboursement{% endblock %}

{% block body %}
    <h1>Nouvelle demande de remboursement</h1>

    {{ include('training_reimbursement/_form.html.twig') }}

    <a href="{{ path('app_training_reimbursement_index') }}">retour à la liste</a>
{% endblock %}
